<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.storj.mobile"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.VIBRATE"/>

    <uses-feature android:name="android.hardware.camera"/>
    <uses-feature android:name="android.hardware.camera.autofocus"/>    

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="22" />

    <application
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        
      android:name="io.storj.mobile.MainApplication"
      android:allowBackup="true"
      android:theme="@style/AppTheme">
      <activity
        android:name="io.storj.mobile.MainActivity"
        android:label="@string/app_name"
        android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
        android:screenOrientation="portrait"
        android:windowSoftInputMode="adjustResize">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
      </activity>
      <activity android:name="com.facebook.react.devsupport.DevSettingsActivity" />

      <service android:name=".storjlibmodule.services.FetchService" android:enabled="true" />
      <service
          android:name=".storjlibmodule.services.UploadService"
          android:exported="true"
          android:enabled="true" />

        <service
            android:name=".storjlibmodule.services.UploadService"
            android:exported="true"
            android:enabled="true" />

        <service
            android:name=".storjlibmodule.services.DownloadService"
            android:exported="true"
            android:enabled="true" />

        <service
            android:name=".storjlibmodule.services.SynchronizationService"
            android:exported="true"
            android:enabled="true" />

        <service android:name=".storjlibmodule.services.SynchronizationSchedulerJobService" android:enabled="true">
            <intent-filter>
                <action android:name="com.firebase.jobdispatcher.ACTION_EXECUTE" />
            </intent-filter>
        </service>



        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"></meta-data>
        </provider>
        <meta-data android:name="android.max_aspect"
    android:value="2.1"/>   
    </application>
</manifest>
